{% extends 'base.html' %}


{% block content %}
<main class="container"> 
<div class="row">        
<section class="col-md-4 offset-md-4">
    <form method="POST" class="card card-body">
        <h1 calss="text-center">Signin</h1>
        {{error}}
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" >Username:</label>
            <input type="text" id="username" name="username" required
            class="form-control" placeholder="Write your name">
        </div>
        <div class="mb-3">
            <label for="password" >Password:</label>
            <input type="password" id="password" name="password" required
            class="form-control" placeholder="Write your password">
        </div>
        <button class="btn btn-primary">
            Singin
        </button>
    </form>
</section>
</div>
</main>   
{% endblock  %}
